.content {
    display: flex;
    padding: 20px;
    gap: 2rem;
  }
  
  .card {
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  }
  
  button {
    margin-top: 10px;
    background-color: white;
    border: 1px dashed black;
    padding: 8px;
    cursor: pointer;
  }
  